# Server Configuration
PORT=5000

# MongoDB Connection String (MongoDB Atlas or Local MongoDB)
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/airline_db?retryWrites=true&w=majority

# JWT Authentication Secret
JWT_SECRET=skyhigh_airline_secret_key_2026_jwt
JWT_EXPIRE=30d

# Node Environment
NODE_ENV=production
